

<div class="row row-one">
        <div class="col-md-4">
                <p> Goup Name </p>
                <h4 class="font-weight-bold"> <%= @group.name %> </h4> 
                <br>   
                <p> Group Admin </p>
                <h4 class="font-weight-bold"> <%= @group.users.first.name %> </h4>
        </div>
        
        <div class="col-md-4">
                <h4 class="font-weight-bold" > Group Description </h4> <%= @group.description %> <br>
                <h3\> Add User: </h3> <br>
                <%= render partial: 'add_member_form', locals: {group: @group} %>
        </div>
        
        <div class="col-md-4">
                <h4 class="font-weight-bold" > Group Members </h4>
                <% @group.users.each do |user| %>
                    <%= user.name %>
                <% end %>        
        </div>
</div>

<br> <br> <br>

<div class="row">
    <div class="col-md-4">
            <h2> Share With Your Peers </h2> <br>
            <%= render partial: 'group_pubs/group_pub_form', locals: {group: @group, group_pub: @group_pub} %>
    </div>

    <div class="col-md-8">
        <% if @group.group_pubs.blank? %>
            <h4> No message </h4>
        <% end %>
        <% @group.group_pubs.each do |pub| %>
            <div class="alert alert-primary" role="alert">
                    <%= pub.content %>
                    <%= link_to "Edit group_pub", edit_group_group_pub_path(group_id: @group.id, id: pub.id) %>
                    <%= link_to "Delete", group_group_pub_path(@group.id, pub.id), method: :delete, data: {confirm: "Delete Post"} %>
            </div>
        <% end %>
    </div>

</div>


<style>
    .row-one{
        margin-right: -15px;
    margin-left: -15px;
    background-color: #fcfcff;
    padding-bottom: 60px;
    }


.form-control {
    display: inline;
    width: 250px;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 30;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    vertical-align: bottom;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 5px;
    display: block;
    line-height: inherit;
}

.my-input {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 200px;
    width: 100%;
}

</style>