    <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p> <%= @pub.content %> </p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
    </div>

<div>
  <%= render @pub.answers %>
</div>

<% if user_signed_in? && @pub.user_id == current_user.id %>
    <%= link_to "Edit", edit_pub_path %> |
    <%= link_to "Delete", pub_path(@pub), method: :delete, data:{confirm:"You're about to delete"} %>
<% end %>

    <p class="link">   <%= link_to "Write an answer", new_pub_answer_path(@pub) %>  </p>
